<tr>
  <td class="table-row-name"><img src="<%=cart.item.images[0].image%>" style="width:50px;" /> </td>
  <td class="table-row-name" ><%=cart.item.title%></td>
  <td></td>
  <td class="table-row">
    <%=link_to '-', modify_cart_index_path(id: cart.id), id: "minus"+cart.id.to_s, notice: "msg", class: "btn-outline-dark count-button", remote: true%>
    <input class="form-control count-field" id="value<%=cart.id%>" type="text" value="1" />
    <%=link_to '+', modify_cart_index_path(id: cart.id), id: "plus"+cart.id.to_s,class: "btn-outline-dark count-button", remote: true%>
  </td>
  <td class="text-right table-row-name" id="price<%=cart.id%>"><%=cart.amount%>원</td>
  <td class="text-right table-row-name"><button class="btn-outline-dark count-button btn-danger"><i class="fa fa-trash"></i> </button> </td>
</tr>