<style>
  .bloc_left_price {
      color: #c01508;
      text-align: center;
      font-weight: bold;
      font-size: 150%;
  }
  .category_block li:hover {
      background-color: #007bff;
  }
  .category_block li:hover a {
      color: #ffffff;
  }
  .category_block li a {
      color: #343a40;
  }
  .add_to_cart_block .price {
      color: #c01508;
      text-align: center;
      font-weight: bold;
      font-size: 200%;
      margin-bottom: 0;
  }
  .add_to_cart_block .price_discounted {
      color: #343a40;
      text-align: center;
      text-decoration: line-through;
      font-size: 140%;
  }
  .product_rassurance {
      padding: 10px;
      margin-top: 15px;
      background: #ffffff;
      border: 1px solid #6c757d;
      color: #6c757d;
  }
  .product_rassurance .list-inline {
      margin-bottom: 0;
      text-transform: uppercase;
      text-align: center;
  }
  .product_rassurance .list-inline li:hover {
      color: #343a40;
  }
  .reviews_product .fa-star {
      color: gold;
  }
  .pagination {
      margin-top: 20px;
  }
  .count-button{
    margin:0px 10px 0px 10px;
    padding: 0px 0px 0px 0px;
    width: 30px;
    background: inherit;
    border: blue;  

  }
  button:not(.disabled):hover{
    background-image: none;

    background-color: #c3d9ff;
    border: blue;  
    }
  .count-field{
    width: 70px;
    text-align:center;
  }
  .table-row{
    display:flex;
    vertical-align:middle;
    justify-content:center;
  }.table-row-name{
    vertical-align: middle !important;
    text-align: center;
  }
</style>
<body>
  <div class="container" style="padding-top:56px;">
    <div class="row">
      <div class="col-lg-12">
        <%=render "shared/main", img: "/image/cart.jpg", message: "Rails 기반 전자상거래 서비스입니다.", emoji: '&#129302;' %>
        <div class="row">
          <div class="col-lg-12">
              <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" class="table-row-name"> </th>
                        <th scope="col" class="table-row-name">상품명</th>
                        <th></th>
                        <th scope="col" class="text-center">수량</th>
                        <th scope="col" class="text-right">가격</th>
                        <th> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <%if @cart.amount==0%>
                        카트 비었다.
                      <%else%>
                        <% @cart.line_items.each do |c|%>
                          <tr>
                            <td class="table-row-name"><img src="<%=c.item.images[0].image%>" style="width:50px;" /> </td>
                            <td class="table-row-name" ><%=c.item.title%></td>
                            <td></td>
                            <td class="table-row">
                              <button  type="button" id="minus<%=c.id%>" class="btn-outline-dark count-button">-</button>
                              <input class="form-control count-field" id="value<%=c.id%>" type="text" value="1" />
                              <button type="button" class="btn-outline-dark count-button" id="plus<%=c.id%>">+</button>
                              <script>
                              $("#minus<%=c.id%>").click(function () {
                                var p=parseInt($("#value<%=c.id%>").get(0).value);
                                if(p<=1)
                                  return;
                                p=p-1;
                                $("#value<%=c.id%>").get(0).value=p;

                               
                                 var v= <%=c.amount%>*p;
                                $("#price<%=c.id%>").get(0).innerHTML=v+"원";
                              });
                              $("#plus<%=c.id%>").click(function () {
                                var p=parseInt($("#value<%=c.id%>").get(0).value);
                                p=p+1;
                                $("#value<%=c.id%>").get(0).value=p;

                                
                                var v= <%=c.amount%>*p;
                                $("#price<%=c.id%>").get(0).innerHTML=v+"원";
                              });
                              </script>
                            </td>
                            <td class="text-right table-row-name" id="price<%=c.id%>"><%=c.amount%>원</td>
                            <td class="text-right table-row-name"><button class="btn-outline-dark count-button btn-danger"><i class="fa fa-trash"></i> </button> </td>
                          </tr>
                        <%end%>
                      <%end%>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><strong><%=@cart.amount%>원</strong></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
          <div class="col mb-2">
            <div class="row">
              <div class="col-sm-12  col-md-6">
                  <button class="btn btn-block btn-light">Continue Shopping</button>
              </div>
              <div class="col-sm-12 col-md-6 text-right">
                  <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</body>

 