<body>
  <!-- Page Content -->
  <div class="container" style="padding-top:56px;">

    <div class="row">

      
      <!-- /.col-lg-3 -->

      <div class="col-lg-12">

        <div class="card mt-4">
          <div id="carouselExampleIndicators<%=@item.id%>" class="carousel slide" data-touch="true">
            <ol class="carousel-indicators">
              <% @item.images.count.times.each do |index| %>
                  <li data-target="#carouselExampleIndicators<%=@item.id%>" data-slide-to="<%= index %>" class="<%= 'active' if (index == 0) %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% @item.images.each_with_index do |image, index| %>
                  <div class="carousel-item img-div <%= 'active' if (index == 0) %>">
                    <img src="<%= image.image %>" class="d-block w-100 img-inner" alt="">
                  </div>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-title"><%=@item.title%></h3>
            <h4><%=@item.price%>원</h4>
            <p class="card-text"><%=@item.body%></p>
            <small class="text-muted">판매자 : <%=@item.user.nickname%></small>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary text-right my-4">
         
          <div class="card-body">
            <%if current_user.present?%>
              <%if @item.user.id==current_user.id%>
                <%=link_to "제품 삭제하기", item_path(@item), method: :delete, class:"btn btn-outline-danger"%>
              <%else%>
                <%=link_to "장바구니에 추가", makeline_items_path(id: @item.id),  class:"btn btn-outline-success"%>
                <a href="#" class="btn btn-outline-danger">찜</a>
              <%end%>
                
            <%else%>
              <%=link_to "장바구니에 추가",  new_user_session_path ,  class:"btn btn-outline-success"%>
              <%=link_to "찜",new_user_session_path, class:"btn btn-outline-danger"%>
            <%end%>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
  </div>
  <!-- /.container -->
  <!-- Bootstrap core JavaScript -->

</body>

</html>
